mixin welcome()
  -
    const data = {
      title: "Добро пожаловать",
      title2: "в мир красок",
      title3: "Turydesign",
    }
  section.section.welcome
    .container
      h1.title.title--h1.welcome__heading
        span.welcome__title=data.title
        span.welcome__title=data.title2
        span.welcome__title=data.title3

