.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-blackcurrant;
  transition: color $trans-default;
  outline: none;
  position: relative;
  padding: 5px;
  margin: -5px;
  &::after {
    position: absolute;
    left: 0;
    right: 5px;
    bottom: 8px;
    content: "";
    // width: calc(100% - 2 * 5px);
    width: 100%;
    height: 20px;
    transform: scaleX(0);
    transform-origin: center;
    background-color: $color-default-black;
    transition: transform $trans-default;
    z-index: -1;
  }
  @include hover-focus {
    text-decoration: none;
    color: $color-default-white;
    &::after {
      transform: scaleX(1);
    }
  }
}
