.main-nav {
  flex-grow: 1;
  margin-right: auto;
  margin-left: 7px;
  @include vp-1023 {
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 70px;
    width: 100vw;
    height: calc(100% - 70px);
    background-color: $color-default-white;
    z-index: 5;
    left: -100%;
    transition: transform $trans-default;
    overflow: hidden;
    overflow-y: auto;
    &::before {
      content: "";
      width: 100%;
      height: 10px;
      background-color: $color-default-white;
      position: absolute;
      top: -10px;
      left: 0;
      box-shadow: 0px 4px 15px rgba($color-default-black, 0.1);
    }
    &.is-active {
      transform: translateX(100%);
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    height: auto;
    @include vp-1023 {
      // min-height: 500px;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    @include vp-1023 {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      margin-bottom: 4rem;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include vp-1023 {
      width: 50%;
    }
    @include vp-767 {
      width: 100%;
    }
    &:not(:last-of-type) {
      margin: 0 20px 0 0;
      @include vp-1023 {
        margin: 0 0 30px;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    @include vp-1023 {
      font-weight: 700;
      font-size: 26px;
      line-height: 25px;
      text-transform: uppercase;
      padding-right: 4rem;
    }
    &::after {
      bottom: 5px;
    }
    &.is-active {
      opacity: 0.6;
    }
  }

  &__submenu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $color-default-white;
    padding: 0 20px 20px;
    z-index: 6;
    display: none;
    transform: translateX(0);
    transition: transform $trans-default;
    @include vp-1023 {
      display: block;
      &::before {
        content: "";
        width: 100%;
        height: 10px;
        background-color: $color-default-white;
        position: absolute;
        top: -10px;
        left: 0;
        box-shadow: 0px 4px 15px rgba($color-default-black, 0.1);
      }
      &.is-active {
        transform: translateX(-100%);
      }
    }
    &-toggle {
      width: 100%;
      height: 100%;
      display: none;
      justify-content: flex-end;
      @include vp-1023 {
        display: flex;
      }
      svg {
        transform: rotate(180deg);
        color: $color-default-black;
      }
    }
    &-back {
      width: 100%;
      padding: 20px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
      text-transform: uppercase;
      color: $color-blackcurrant;
      position: relative;
      svg {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $color-default-black;
      }
      span {
        pointer-events: none;
      }
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    &-item {
      &:not(:last-of-type) {
        margin: 0 0 30px;
      }
    }
  }

  &__sublink {
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1a171b;
  }

  &__toggle {
    display: none;
    @include vp-1023 {
      display: flex;
      margin-left: -12px;
    }
    svg {
      pointer-events: none;
      transition: color $trans-default;
    }
  }
}
.line {
  fill: none;
  stroke: $color-default-black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.is-active .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -135;
  stroke-width: 6;
  stroke: $color-grey;
}
.is-active .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  stroke: $color-grey;
}
.is-active .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -135;
  stroke-width: 6;
  stroke: $color-grey;
}
