.title {
	margin: 0;
	padding: 0;
	&--h1 {
		font-weight: 700;
		font-size: 90px;
		line-height: 106%;
		letter-spacing: 1px;
		@include vp-1279 {
			font-size: 60px;
		}
		@include vp-1023 {
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.41px;
		}
	}
	&--h2 {
		font-weight: 700;
		font-size: 90px;
		line-height: 95px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-blackcurrant;
		@include vp-1023 {
			font-size: 30px;
			line-height: 30px;
		}
	}
}
